:root {
  /* https://chakra-ui.com/theme */

  --hb-color-primary-50: #ebf8ff;
  --hb-color-primary-100: #ceedff;
  --hb-color-primary-200: #90cdf4;
  --hb-color-primary-300: #63b3ed;
  --hb-color-primary-400: #4299e1;
  --hb-color-primary-500: #3182ce;
  --hb-color-primary-600: #2a69ac;
  --hb-color-primary-700: #1e4e8c;
  --hb-color-primary-800: #153e75;
  --hb-color-primary-900: #1a365d;

  --hb-color-secondary-50: #e6fffa;
  --hb-color-secondary-100: #b2f5ea;
  --hb-color-secondary-200: #81e6d9;
  --hb-color-secondary-300: #4fd1c5;
  --hb-color-secondary-400: #38b2ac;
  --hb-color-secondary-500: #319795;
  --hb-color-secondary-600: #2c7a7b;
  --hb-color-secondary-700: #285e61;
  --hb-color-secondary-800: #234e52;
  --hb-color-secondary-900: #1d4044;

  --hb-color-accent-50: #fffaf0;
  --hb-color-accent-100: #feebc8;
  --hb-color-accent-200: #fbd38d;
  --hb-color-accent-300: #f6ad55;
  --hb-color-accent-400: #ed8936;
  --hb-color-accent-500: #dd6b20;
  --hb-color-accent-600: #c05621;
  --hb-color-accent-700: #9c4221;
  --hb-color-accent-800: #7b341e;
  --hb-color-accent-900: #652b19;

  --hb-color-gray-50: #f7fafc;
  --hb-color-gray-100: #edf2f7;
  --hb-color-gray-200: #e2e8f0;
  --hb-color-gray-300: #cbd5e0;
  --hb-color-gray-400: #a0aec0;
  --hb-color-gray-500: #718096;
  --hb-color-gray-600: #4a5568;
  --hb-color-gray-700: #2d3748;
  --hb-color-gray-800: #1a202c;
  --hb-color-gray-900: #171923;

  --hb-color-black: #1c1c21;
  --hb-color-white: #ffffff;
}
