:root {
  --preview-container-width-normal: 58rem;
  --preview-container-width-wide: 120rem;
  --preview-container-padding: 4rem;
}

html {
  font-size: 62.5%; /* 1rem = 10px */
}

@font-face {
  font-family: "Inter var";
  font-weight: 100 900; /* stylelint-disable-line font-weight-notation */
  font-style: normal;
  font-display: swap;
  src: url(Inter-upright-var.woff2) format("woff2");
}

@font-face {
  font-family: "Inter var";
  font-weight: 100 900; /* stylelint-disable-line font-weight-notation */
  font-style: italic;
  font-display: swap;
  src: url(Inter-italic-var.woff2) format("woff2");
}

body {
  background: #f5efe0;
  color: #000;
  font-size: 1.8rem;
  letter-spacing: -0.015em;
  font-family: "Inter var", -apple-system, BlinkMacSystemFont, "Helvetica Neue",
    Helvetica, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-feature-settings: "lnum";
  font-variant-numeric: lining-nums;
  font-weight: 700;
  letter-spacing: -0.0415625em;
  line-height: 1.25;
  margin: 3.5rem 0 2rem;
}

h1 {
  font-size: 3.6rem;
  font-weight: 800;
  line-height: 1.138888889;
}

h2 {
  font-size: 3.2rem;
}

h3 {
  font-size: 2.8rem;
}

h4 {
  font-size: 2.4rem;
}

h5 {
  font-size: 2.1rem;
}

h6 {
  font-size: 1.6rem;
  letter-spacing: 0.03125em;
  text-transform: uppercase;
}

p {
  line-height: 1.5;
  margin: 0 0 1em 0;
}

em,
i,
q,
dfn {
  font-style: italic;
}

em em,
em i,
i em,
i i,
cite em,
cite i {
  font-weight: bolder;
}

big {
  font-size: 1.2em;
}

small {
  font-size: 0.75em;
}

b,
strong {
  font-weight: 700;
}

ins {
  text-decoration: underline;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

abbr,
acronym {
  cursor: help;
}

address {
  line-height: 1.5;
  margin: 0 0 2rem 0;
}

hr {
  border-style: solid;
  border-width: 0.1rem 0 0 0;
  border-color: #dcd7ca;
  margin: 4rem 0;
}

a {
  color: #cd2653;
  text-decoration: underline;
}

a:hover,
a:focus {
  text-decoration: none;
}

/* Lists ------------------------------------- */

ul,
ol {
  margin: 0 0 3rem 3rem;
}

ul {
  list-style: disc;
}

ul ul {
  list-style: circle;
}

ul ul ul {
  list-style: square;
}

ol {
  list-style: decimal;
}

ol ol {
  list-style: lower-alpha;
}

ol ol ol {
  list-style: lower-roman;
}

li {
  line-height: 1.5;
  margin: 0.5rem 0 0 2rem;
}

li > ul,
li > ol {
  margin: 1rem 0 0 2rem;
}

.reset-list-style,
.reset-list-style ul,
.reset-list-style ol {
  list-style: none;
  margin: 0;
}

.reset-list-style li {
  margin: 0;
}

dt,
dd {
  line-height: 1.5;
}

dt {
  font-weight: 700;
}

dt + dd {
  margin-top: 0.5rem;
}

dd + dt {
  margin-top: 1.5rem;
}

/* Quotes ------------------------------------ */

blockquote {
  border-color: #cd2653;
  border-style: solid;

  /*rtl:ignore*/
  border-width: 0 0 0 0.2rem;
  color: inherit;
  font-size: 1em;
  margin: 4rem 0;

  /*rtl:ignore*/
  padding: 0.5rem 0 0.5rem 2rem;
}

cite {
  color: #6d6d6d;
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 600;
  line-height: 1.25;
}

blockquote cite {
  display: block;
  margin: 2rem 0 0 0;
}

blockquote p:last-child {
  margin: 0;
}

/* Code -------------------------------------- */

code,
kbd,
pre,
samp {
  font-family: monospace;
  font-size: 0.9em;
  padding: 0.4rem 0.6rem;
}

code,
kbd,
samp {
  background: rgba(0, 0, 0, 0.075);
  border-radius: 0.2rem;
}

pre {
  border: 0.1rem solid #dcd7ca;
  line-height: 1.5;
  margin: 4rem 0;
  overflow: auto;
  padding: 3rem 2rem;
  text-align: left;
}

pre code {
  background: transparent;
  padding: 0;
}

/* Media ------------------------------------- */

figure {
  display: block;
  margin: 0;
}

iframe {
  display: block;
  max-width: 100%;
}

video {
  display: block;
}

svg,
img,
embed,
object {
  display: block;
  height: auto;
  max-width: 100%;
}

/* Inputs ------------------------------------ */

fieldset {
  border: 0.2rem solid #dcd7ca;
  padding: 2rem;
}

legend {
  font-size: 0.85em;
  font-weight: 700;
  padding: 0 1rem;
}

label {
  display: block;
  font-size: 1.6rem;
  font-weight: 400;
  margin: 0 0 0.5rem 0;
}

label.inline,
input[type="checkbox"] + label {
  display: inline;
  font-weight: 400;
  margin-left: 0.5rem;
}

input[type="checkbox"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  position: relative;
  top: 2px;
  display: inline-block;
  margin: 0;
  width: 1.5rem;
  min-width: 1.5rem;
  height: 1.5rem;
  background: #fff;
  border-radius: 0;
  border-style: solid;
  border-width: 0.1rem;
  border-color: #dcd7ca;
  box-shadow: none;
  cursor: pointer;
}

input[type="checkbox"]:checked::before {
  /* Use the "Yes" SVG Dashicon */
  content: url("data:image/svg+xml;utf8,%3Csvg%20xmlns%3D%27http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%27%20viewBox%3D%270%200%2020%2020%27%3E%3Cpath%20d%3D%27M14.83%204.89l1.34.94-5.81%208.38H9.02L5.78%209.67l1.34-1.25%202.57%202.4z%27%20fill%3D%27%23000000%27%2F%3E%3C%2Fsvg%3E");
  position: absolute;
  display: inline-block;
  margin: -0.1875rem 0 0 -0.25rem;
  height: 1.75rem;
  width: 1.75rem;
}

input,
textarea,
button,
.button,
.faux-button,
.wp-block-button__link,
.wp-block-file__button {
  font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", Helvetica,
    sans-serif;
  line-height: 1;
}

@supports (font-variation-settings: normal) {
  input,
  textarea,
  button,
  .button,
  .faux-button,
  .faux-button.more-link,
  .wp-block-button__link,
  .wp-block-file__button {
    font-family: "Inter var", -apple-system, BlinkMacSystemFont,
      "Helvetica Neue", Helvetica, sans-serif;
  }
}

input,
textarea {
  border-color: #dcd7ca;
  color: #000;
}

code,
input[type="url"],
input[type="email"],
input[type="tel"] {
  /*rtl:ignore*/
  direction: ltr;
}

input[type="text"],
input[type="password"],
input[type="email"],
input[type="url"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="week"],
input[type="number"],
input[type="search"],
input[type="tel"],
input[type="color"],
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  background: #fff;
  border-radius: 0;
  border-style: solid;
  border-width: 0.1rem;
  box-shadow: none;
  display: block;
  font-size: 1.6rem;
  letter-spacing: -0.015em;
  margin: 0;
  max-width: 100%;
  padding: 1.5rem 1.8rem;
  width: 100%;
}

select {
  font-size: 1em;
}

textarea {
  height: 12rem;
  line-height: 1.5;
  width: 100%;
}

input::-webkit-input-placeholder {
  line-height: normal;
}

input:-ms-input-placeholder {
  line-height: normal;
}

input::-moz-placeholder {
  line-height: revert; /* Reset to the value from the user-agent stylesheet. */
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}

button,
.button,
.faux-button,
.wp-block-button__link,
.wp-block-file .wp-block-file__button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  background: #cd2653;
  border: none;
  border-radius: 0;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 1.5rem;
  font-weight: 600;
  letter-spacing: 0.0333em;
  line-height: 1.25;
  margin: 0;
  opacity: 1;
  padding: 1.1em 1.44em;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  transition: opacity 0.15s linear;
}

button:focus,
button:hover,
.button:focus,
.button:hover,
.faux-button:focus,
.faux-button:hover,
.wp-block-button .wp-block-button__link:focus,
.wp-block-button .wp-block-button__link:hover,
.wp-block-file .wp-block-file__button:focus,
.wp-block-file .wp-block-file__button:hover,
input[type="button"]:focus,
input[type="button"]:hover,
input[type="reset"]:focus,
input[type="reset"]:hover,
input[type="submit"]:focus,
input[type="submit"]:hover {
  text-decoration: underline;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
input[type="number"]:focus,
input[type="tel"]:focus,
input[type="range"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="week"]:focus,
input[type="time"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="color"]:focus,
textarea:focus {
  border-color: currentColor;
}

input[type="search"]:focus {
  outline: thin dotted;
  outline-offset: -4px;
}

/* Tables ------------------------------------ */

table {
  border: 0.1rem solid #dcd7ca;
  border-collapse: collapse;
  border-spacing: 0;
  empty-cells: show;
  font-size: 1.6rem;
  margin: 4rem 0;
  max-width: 100%;
  overflow: hidden;
  width: 100%;
}

.alignleft > table {
  margin: 0;
}

.alignright > table {
  margin: 0;
}

th,
td {
  border: 0.1rem solid #dcd7ca;
  line-height: 1.4;
  margin: 0;
  overflow: visible;
  padding: 0.5em;
}

caption {
  background: #dcd7ca;
  font-weight: 600;
  padding: 0.5em;
  text-align: center;
}

thead {
  vertical-align: bottom;
  white-space: nowrap;
}

th {
  font-weight: 700;
}
